<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.testlove.go_to_help.mapper.UserMapper">

    <select id="findUserByOpenID" resultType="cn.testlove.go_to_help.entity.User">
        select * from user where openId=#{openId}
    </select>
    <insert id="addUser" parameterType="cn.testlove.go_to_help.entity.User">
        insert into user(openId,sessionKey,token,admin)
        values (#{openId},#{sessionKey},#{token},#{admin})
    </insert>
    <update id="updateUserByOpenId" parameterType="cn.testlove.go_to_help.entity.User">
            update user
            set userName=#{userName},avatar=#{avatar}
            where openId=#{openId}
    </update>


</mapper>
